.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  height: 74px;
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 5;
  border-bottom: #ffffff36 1px solid;
  color: var(--Main-Color);
  letter-spacing: 1px;
}

.Box-Lang {
  width: 35px;
  height: 35px;
  background-color: var(--Main-Color);
  color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Nav-Links {
  display: flex;
  align-content: center;
  column-gap: 1rem;
}

.Nav-Links .nav-link {
  margin-right: 8px;
  position: relative;
  display: block;
  color: var(--Main-Color);
}
.Nav-Links .nav-link:hover {
  color: var(--Bg-Active);
  transition: var(--Transition);
  -moz-transition: var(--Transition);
  -ms-transition: var(--Transition);
  -webkit-transition: var(--Transition);
  -o-transition: var(--Transition);
}
.Nav-Links .nav-link:hover::before {
  opacity: 0;
}
.Nav-Links .nav-link:hover::after {
  opacity: 1;
}
.Nav-Links .nav-link.active {
  color: var(--Bg-Active);
  font-weight: 600;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.Nav-Links .nav-link.active::before {
  opacity: 0;
}
.Nav-Links .nav-link.active::after {
  opacity: 1;
}
.Nav-Links .nav-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--Main-Color);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.Nav-Links .nav-link::before {
  content: "";
  position: absolute;
  top: 35%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: -15px;
  background-color: var(--Main-Color);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.Nav-Links .nav-link-Rtl::before {
  content: "";
  position: absolute;
  top: 35%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  right: -15px;
  background-color: var(--Main-Color);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.Icon-Links {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.Icon-Links > a {
  color: var(--Bg-Active);
  border: 1px solid var(--Main-Color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--Main-Color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-number {
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: var(--Main-Color);
  width: 20px;
  height: 20px;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 13px;
}
.Menu-Icon {
  width: 34px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
}
.Menu-Icon span {
  height: 2px;
  left: 0;
  position: absolute;
  background-color: var(--Main-Color);
  width: 100%;
  transition: 0.4s;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.Menu-Icon span:first-child {
  top: 0;
}

.Menu-Icon span:nth-child(2) {
  top: 12px;
}

.Menu-Icon span:last-child {
  top: 22px;
}
.Menu-Icon span:first-child.Active-Menu {
  transform: rotate(45deg);
}
.Menu-Icon span:nth-child(2).Active-Menu {
  opacity: 0;
}

.Menu-Icon span:first-child.Active-Menu,
.Menu-Icon span:last-child.Active-Menu {
  top: 12px;
}

.Menu-Icon span:last-child.Active-Menu {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .Header {
    padding: 25px 30px;
  }
  .Menu-Icon {
    display: block;
  }
  .Nav-Links {
    position: absolute;
    top: 73px;
    flex-direction: column;
    background-color: var(--Main-Color);
    display: flex;
    width: 100%;
    left: 0;
    transition: all 0.5s ease;
    opacity: 0;
    height: 0;
  }

  .Nav-Links .nav-link::after {
    background-color: var(--Bg-Active);
  }
  .Nav-Links .nav-link::before {
    background-color: var(--Bg-Active);
  }
  .Nav-Links .nav-link {
    left: 50%;
    width: fit-content;
    margin: 30px 0;
    opacity: 0;
    transform: translateX(-50%);
    display: none !important;
    color: var(--Bg-Active) !important;
  }

  .Nav-Links .nav-link-Rtl {
    right: 50%;
    transform: translateY(50%);
    width: fit-content;
    margin: 30px 0;
    opacity: 0;
    transform: translateX(-50%);
    display: none !important;
    color: var(--Bg-Active) !important;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}
  .Nav-Links.Show {
    opacity: 1;
    height: 335px;
  }
  .Nav-Links .nav-link.Show {
    opacity: 1;
    display: block !important;
    transition-delay: 1s !important;
  }
}

@media (max-width: 576px) {
  .Header {
    padding: 20px 25px;
  }
  .Icon-Links {
    column-gap: 10px !important;
  }
  .Icon-Links > a {
    width: 35px;
    height: 35px;
  }
  .Icon-Links > a i {
    padding: 5px;
  }
  .icon-number {
    top: -15px;
  }
}

@media (max-width: 300px) {
  .Header {
    padding: 20px;
  }
  .logo {
    font-size: 16px;
  }
}

@media (min-width: 991px) {
  .Nav-Links .nav-link {
    margin-right: 20px !important;
  }

  .Icon-Links {
    gap: 20px !important;
  }
}
