.Box-Img {
  width: 324px;
  left: -50%;
  position: absolute;
  transform: translateX(30%);
}
.Box-Content {
  background-color: var(--Main-Color);

  padding: 0.3rem 0.5rem;
  border-radius: 0.6rem;
  line-height: 1px;
}
@media (max-width: 768px) {
  .Box-Content {
    padding: 0.3rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .Box-Content {
    padding: 0.3rem;
  }
}

@media (max-width: 300px) {
}

@media (min-width: 991px) {
  .Box-Content {
    padding: 0.5rem 1rem;
  }
}

.Avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
}

@media (max-width: 768px) {
  .Avatar {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.Avatar:nth-child(1) {
  background-color: yellow;
}
.Avatar:nth-child(2) {
  background-color: var(--Second-Background);
}
.Avatar:nth-child(3) {
  background-color: yellow;
}
.Avatar:nth-child(4) {
  background-color: var(--Second-Background);
}
.Avatar:nth-child(5) {
  background-color: yellow;
}
.Sub-Title-Hero {
  position: absolute;
  left: 10%;
  top: -30%;
  transform: translateX(50%);
}

.Sub-Title-Hero::before {
  content: "";
  position: absolute;
  left: -56%;
  top: 7px;
  width: 50%;
  height: 1px;
  background-color: var(--Main-Color);
}
.Sub-Title-Hero::after {
  content: "";
  position: absolute;
  right: -56%;
  top: 7px;
  width: 50%;
  height: 1px;
  background-color: var(--Main-Color);
}

@media (max-width: 575px) {
  .Right-Landing .Box-Two div:nth-child(1) {
    /* background-color: red; */
  }
}
